#chat {
  width: 800px;
  height: 500px;
  display: flex;
  flex-flow: column nowrap;
  overflow: scroll;
}

.karolina {
margin-right: auto;
background-color: blue;
width: 350px;
}

.utilisateur {
  margin-left: auto;
  background-color: red;
  width: 350px;
  height: auto;
}

.ktyping {
  margin-right: auto;
  width: 200px;
}

.utyping {
  margin-left: auto;
  width: 100px;
}
