#chat {
  width: 800px;
  height: 500px;
  display: flex;
  flex-flow: column nowrap;
  overflow: scroll;
}

.karolina {
margin-right: auto;
background-color: blue;
width: 350px
}

.utilisateur {
  margin-left: auto;
  background-color: red;
  width: 350px;
}
